<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.mftau.mftau">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.activities.MainActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".view.activities.WebsiteActivity" />
        <activity android:name=".view.activities.PdfActivity" />
        <activity
            android:name=".view.activities.BreviaryActivity"
            android:label="@string/breviary">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MainActivity" />
        </activity>
        <activity
            android:name=".view.activities.LoginActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MainActivity" />
        </activity>
        <activity
            android:name=".view.activities.MembersActivity"
            android:label="@string/members">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MainActivity" />
        </activity>
        <activity
            android:name=".view.activities.MeetingsActivity"
            android:label="@string/meetings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MainActivity" />
        </activity>
        <activity
            android:name=".view.activities.MeetingEditorActivity"
            android:label="@string/add_meeting"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MeetingsActivity" />
        </activity>
        <activity
            android:name=".view.activities.MemberEditorActivity"
            android:label="@string/add_member"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MembersActivity" />
        </activity>
        <activity
            android:name=".view.activities.PrayerActivity"
            android:label="@string/prayer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MembersActivity" />
        </activity>
        <activity android:name=".view.activities.ChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MembersActivity" />
        </activity>
    </application>

</manifest>